.row .card {
    height: 30rem;
}

.row .card img {
    height: 70%;
    width: 100%;
}

.row .card .card-body {
    display: flex;
    flex-direction: column;
}

.row .card .card-body .btn-dark {
    justify-content: end;
}

@media (max-width: 575px) {
    .row .card {
        height: auto;
        margin: 3rem;
    }
}