footer {
    font-size: 1.5rem;
    /* background-color: variaveis.$bgColor; */
    /* color: variaveis.$linksFooter; */
}

footer h2 {
    margin: 2rem;
    color: #fff;
}

footer ul {
    list-style: none;
}

footer ul a {
    text-decoration: none;
    font-size: 1.1rem;
    /* color: variaveis.$linksFooter; */
}

footer .copy {
    /* border-top: 1px solid variaveis.$linksFooter; */
    text-align: center;
    margin: 2rem;
    border-top: 1px solid #fff;
}

footer .copy p {
    margin: 2rem;
}